<!-- SIGNUP MODAL -->
<input class="modal-state" id="modal-1" type="checkbox">
<div class="modal">
    <label class="modal-bg" for="modal-1"></label>
    <div class="modal-body">
        <label class="btn-close" for="modal-1">X</label>
        <h4 class="modal-title">Login</h4>
        <% if (loginMessage[0]) { %>
            <div class="alert alert-danger">
                <%= signupMessage[0] %>
            </div>
            <% } %>
                <form action="/auth/login" method="post">
                    <input type="email" name="email" id="email" placeholder="Email" required>
                    <input type="password" name="password" id="password" placeholder="Password" required>
                    <button type="submit" class="paper-btn btn-primary">Sign Up</button>
                </form>
    </div>
</div>
<!-- SIGNUP MODAL END-->